@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.footer {
    height: 560px;
    background-color: #252525;
    position: relative;
    display: block;
    /* border-radius: 30px 30px 0 0; */
}

.footer .flow__container {
    z-index: 99;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: -57px;
    display: flex;
    margin: 0 15%;
    align-items: center;

}

.logo__footer {
    padding: 42px 0;
    width: 25%;
    margin-left: -13px;
    background-color: #348E38;
    border-radius: 10px;
    margin: 0 20px;
    font-size: 30px;
    font-weight: 700;
    color: #E8F5E9;
    text-align: center;
}

.contact__info {
    width: 75%;
    margin-left: 5px;


    /*  */

    background-color: #E8F5E9;
    height: 122px;
    border-radius: 10px;
    display: flex;
}



.location__item {
    width: 40%;
}

.hostline__item {
    width: 30%;
}

.email__item {
    width: 30%;
}

.contact__location, .contact__hostline, .contact__email {
    padding-left: 6.8%;
    padding-right: 30px;
    margin: 0 10px;
    font-family: 'Rubik', sans-serif;
    color: #525368;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 600;
    padding: 31px 0 0 8px;
    text-align: center;
    display: flex;
}

.location__content, .hostline__content, .email__content {
    text-align: left;
    /* padding-top: 10px; */
}

.contact__icon {
    margin-top: 3%;
    display: inherit;
    color: #348E38;
    /* top: -57px; */
    line-height: 122px;
    font-size: 25px;
    padding: 6px 8px 8px 16px;
    box-sizing: border-box !important;
    margin-right: 10px;

}


/* Fixed Container */


.fixed__container .info__container {
    display: flex;
    margin: 0 15%;
    padding-top: 144px;

}

.info__container .item__panel {
    width: 25%;
}

.item__panel .item__heading {
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: -0.3px;
}

.item__panel .text__block {
    padding-top: 42px;
    padding-right: 10px !important;
    color: #ffffff;
}

.text__block {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: justify;


}



.aboutus__panel {
    margin-left: 1.7%;
    padding-right: 5%;
}


.social__panel {
    display: flex;
    align-items: center;
    padding-top: 37px;
    padding-left: -2%;
}

.social__panel .social__item {
    font-size: 36px;
    margin: 0 15px;
    color: #325D47;
    cursor: pointer;
}

.social__item:first-child {
    margin-left: unset;
}

/* Explore Panel */
.second__panel {
    margin-left: 10%;
}

.item__menu {
    list-style: square !important;
    color: #a0a2a6;
    margin-bottom: 12px;
    padding-top: 36px;
}

.item__menu li {
    padding: 10px 0;
}

/* NewsLatter */
.subcribe__widget {
    padding-top: 28px;
    position: relative;
    width: 98%;
}

.widget__input {
    display: flex;
    border: solid 1px #ffffff;
    padding: 20px 15px 15px 30px;
    border-radius: 35px;
    background-color: #325D47;
}


.input__panel {
    background-color: transparent;
    font-size: 15px;
    color: #ffffff;

}

.send__email {
    font-size: 37px;
    color: #348E38;
}

/* Buttom Footer */
.bottom__footer {

    padding-top: 62px;
    /* margin-top: 62px; */
    background: transparent;
}

.nocopyright__container {}

.nocopyright__container .copyright__text {
    border-top: solid 1px rgba(180, 174, 174, 0.212);
    margin-top: 40px;
    padding-top: 62px;
    /* margin-right: 1.8%; */
    text-align: center;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    line-height: 19px;
    color: #ffff;
    letter-spacing: 0.5px;
    /* padding-bottom: 3.5%; */
}