@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    border: none;
    outline: none;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundraising img {
    border-radius: 10px;
}

.fundraising {

    height: auto;
    width: 100%;
    background: url('../Img/Report_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;

}

.fundraising .contact-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.fundraising .container {
    height: 80vh;
    margin-top: 200px;
}

.fundraising .left-text{
    font-size: 1.2rem;
    width: 45%;
    text-align: left;
    justify-content: space-between;
    line-height: 35px;
}
.fundraising .center-text{
    color: white;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    line-height: 35px;
}
.fundraising .center-column {
    
    
    width: 100%;
    
    color: black;
  }

@keyframes float-left-to-right {
    0% {
      transform: translateX(-100%); 
      opacity: 0;
    }
    100% {
        opacity: 1;
      transform: translateX(0%); 
    }
  }  

.animate-left-to-right {
    animation: float-left-to-right 1s ease-in-out;
}

@keyframes float-right-to-left {
    0% {
      transform: translateX(100%); 
      opacity: 0;
    }
    100% {
        opacity: 1;
      transform: translateX(0%); 
    }
  }  

.animate-right-to-left {
    animation: float-right-to-left 1s ease-in-out;
}
@keyframes float-bottom-to-top {
    0% {
      transform: translateY(100%); 
      opacity: 0;
    }
    100% {
        opacity: 1;
      transform: translateY(0%); 
    }
  }  

.animate-bottom-to-top {
    animation: float-bottom-to-top 1s ease-in-out;
}


  .fundraising .container {
    padding: 20px;
    margin: 150px auto 10vh auto;
    width: 80%;
    padding: 5%;   
    
    text-align: center;
    color: white;
    background: rgba(49, 49, 49, 0.66);
    border-radius: 20px;
    backdrop-filter: blur(5px); 
}

.fundraising .head_text{
    text-align: left;
    font-size: 3rem;
    margin-top: 10px;
    line-height: 35px;
    color: black;
}
.fundraising .fundraising_head_img{
    display: flex;
    width: 775px;
    height: 600px;
    justify-self: left;
}
.fundraising .fundraising_img_1{
    width: 450px;
    height: 275px;
}
.fundraising .fundraising_text{
    width: 750px;
}
.fundraising .head_description{
    text-align: left;
    font-size: 20px;
    
    margin-left: 50px;
    line-height: 35px;
    color: black;
}

.fundraising .container .title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #01c20a;
}

.fundraising .main-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.fundraising .main-form>* {
    width: 100%;
    margin: 10px auto;
}

.fundraising .flname {
    display: flex;
    justify-content: space-between;
}

.fundraising .flname input {
    width: 49%;
}

.fundraising .main-form input {
    display: block;
    height: 3rem;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: auto;
    padding-left: 2rem;
}

.fundraising .main-form >button {
    height: 3rem;
    width: 100%;
    max-width: 20rem;
    border-radius: 10px;
    cursor: pointer;
}

.fundraising .main-form .radiolist {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.fundraising .main-form .radiolist >button {
    cursor: pointer;
    height: 3rem;
    width: 23%;
}



@media only screen and (max-width: 700px) {
    .fundraising .container {
        padding: 10px;
    }

    .fundraising .container .main-form {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .fundraising .container .title {
        font-size: 2rem;
    }

    .fundraising .container>.head-text {
        font-size: 1.5rem;
    }

    .fundraising .container>h3 {
        font-size: 0.8rem;
    }
    .fundraising>.container{
        margin-left: auto;
        margin-right: auto;
        width: 98%;
    }
    .fundraising .title {
        font-size: 1.6rem;  
        padding-bottom: 15px;  
    }
    
.fundraising .main-form>* {
    width: 100%;
    margin: 5px auto;
}
    .fundraising .fundraising_text,
    .fundraising .fundraising_head_img{
        width: 100%;
        height: auto;
        margin-right: 20px;
    }
    .fundraising .left-text,
    .fundraising .right-text {
        width: 100%;    
        text-align: center;
    }
    .fundraising .contact{
        padding-bottom: 150px;
    }
    .fundraising .description {
        font-size: 1.1rem;
        line-height: 1.3;
        margin-bottom: 5px;
    }
    .fundraising .fundraising_img_1{
        text-align: center;
    }
    .fundraising .row {
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 1024px) {
    .fundraising .fundraising_text,
    .fundraising .fundraising_head_img{
        width: 100%;
        height: auto;
        margin-right: 20px;
    }
    .fundraising .fundraising_head_img{
        width: 100%;
        height: auto;
        margin-right: 20px;
    }
    .fundraising .contact{
        padding-bottom: 150px;
    }
    .fundraising .right-text {
      width: 100%;
      text-align: center;
    }   
    .fundraising .main-form input
     {
        display: block;
        height: 2rem;
        border-radius: 3px;
        font-size: 1rem;
        padding-left: 1rem;
    }
    .fundraising .main-form .radiolist >button {
        height: 2rem;
        font-size: 1rem;
    }
  }
@media only screen and (max-width: 400px) {
    .fundraising .title {
        font-size: 1.4rem;
        margin-bottom: 15px;    
    }
    .fundraising .fundraising_text,
    .fundraising .fundraising_head_img{
        width: 100%;
        height: auto;
        margin-right: 20px;
    }
    .fundraising .fundraising_head_img{
        width: 100%;
        height: auto;
        margin-right: 20px;
    }
    .fundraising .contact{
        padding-bottom: 150px;
    }
    .fundraising .left-text,
    .fundraising .right-text {
        width: 100%;
        text-align: center;
    }
    .fundraising .description {
        line-height: 1.3;
        margin-bottom: 5px;
        font-size: 0.9rem;
    }
  }
  