@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Rubik:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{ scroll-behavior: smooth}

.full-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid rgba(164, 164, 164, 0.397);
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.full-header2 {
  position: fixed;
  top: -40px;
}

.contact-header {
  width: 100%;
  height: 40px;
  background-color: #348e3870;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-header .address {
  color: white;

}
.contact-header>ul {
  list-style: none;
  display: flex;
}

.contact-header>ul>li a {
  display: block;
  width: 30px;
}

.Header {
  display: flex;
  width: 100%;
  height: 100px;
  background: transparent;
  align-items: center;
  justify-content: space-around;
  transition: 0.3s;
  
}

.Header .navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.Header .navbar > li {
  width: 130px;
  display: flex;
  justify-content: center;
  font-family: 'Rubik', sans-serif;

  font-weight: bold;
  height: 60px;
  align-items: center;
}

.Header .navbar > li a {
  font-size: 1.1rem;
  transition: 0.2s;
  text-decoration: none;
  color: rgb(226, 226, 226);
  height: 100%;
  display: flex;
  align-items: center;
}

.Header img {
  width: 100px;
  height: 100px;
}

.Header .navbar > li a,
.Header .navbar > li a {
  border-bottom: 3.5px solid transparent;
}

.Header .navbar > li:hover a,
.Header .navbar > li a.curr-page {
  border-bottom: 3.5px solid #348e38;
}

.Header .navbar > li:hover a,
.Header .navbar > li a.curr-page,
.Header .mobile-nav > li a.curr-page {
  color: #2f9e44;
}

.Header .mobile-nav > li a.curr-page {
  background-color: #01ff302b;
  border-radius: 10px;
}

.white-header {
  background: unset;
  background-color: #e8f5e9;
}

.Header>.fundaraising {
  transition: 200ms;
}

.white-header .navbar > li a,.white-header>.fundaraising {
  color: #0f4229;
}

.Header>.fundaraising:hover {
  color: white;
  background-color: #348e38;
}


.Header .bar-icon {
  height: 40px;
  width: 40px;
  display: none;
}

.fundaraising {
  width: 150px;
  height: 60px;
  border: 1.5px solid #3791475d;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
@media only screen and (max-width: 800px) {
  .logo {
    margin-left: unset;
  }
  .Header {
    justify-content: space-between;
    padding: 0 15px;
  }

  .Header .navbar {
    display: none;
  }

  .Header .bar-icon {
    display: block;
  }
  .fundaraising {
    display: none;
  }

  .contact-header {
    font-size: 0.6rem;
    flex-direction: column;
  }
  .contact-header li a {
    font-size: 1rem;
    flex-direction: column;
  }
  
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 95%;
  position: absolute;
  right: -100%;
  background-color: rgba(170, 170, 170, 0.685);
  padding: 20px 0 20px 5%;
  transition: 0.25s;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.mobile-nav li {
  list-style: none;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-right: 0;
}
.mobile-nav li a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  height: 100%;
  width: 100%;
  padding-right: 25px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(44, 44, 44);
}

.active-nav {
  right: 0;
}
