@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Rubik:wght@300&display=swap');
* {
    margin: 0;
    transition: 500ms;
}
body {
    width: 100%;
    height: 100vh;
    overflow: scroll;
}
body svg {
    position: absolute;
    top: -67vh;
    transform: scale(0.6);
}

body svg .st3 {
    cursor: pointer;
}



body .chart-container {
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
}

.chart-container canvas {
    width: 60%;
}

.button-page-container {
    height: 60%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button-page-container>*{
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.625);
}

.button-page-container .temperature {
    background-color: rgba(255, 75, 75, 0.736);
}

.button-page-container .humidity {
    background-color: rgba(101, 146, 245, 0.736);
}

@media only screen and (max-width: 1300px) {
    body svg {
    top: -40vh;
    }
}



.bgd {
    position: fixed;
    right: auto;
    left: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.bg {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 40px;
    
}
.bg>* {
    width: 49%;
    height: 40px;
    font-weight: bold;
    border: none;
    background-color: #A1D07D;
    border-radius: 10px;
    color: #13794a;
    font-size: 2rem;
    z-index: 1;
    cursor: pointer;
    transition: 500ms;
}
.bg>*:hover {
    background-color: #13794a;
    color: #A1D07D;
}

.box {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.201);
}

.none {
    display: none !important;
}

.main-box {
    width: 70%;
    height: 65vh;
    background-color: rgba(255, 255, 255, 0.923);
    margin: 10px auto;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    display: flex;
}

.box .main-box .exit {
    position: absolute;
    top:10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.box .main-box .exit img {
    width: 100%;
    height: 100%;
}
  
@media only screen and (max-width: 800px) {
    body svg {
        top: 0;
    }

    .main-box {
        width: 95%;
    }
}